<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Flower Prediction</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            margin-top: 50px;
        }
        .container {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            padding: 30px;
        }
        .flower-img {
            max-width: 100%;
            height: auto;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    
    <div class="container">
        <h2 class="mb-4">Iris Flower Prediction</h2>
        <form action="/predict" method="POST">
            <div class="form-group">
                <label for="sepal_length">Sepal Length:</label>
                <input type="text" class="form-control" id="sepal_length" name="sepal_length">
            </div>
            <div class="form-group">
                <label for="sepal_width">Sepal Width:</label>
                <input type="text" class="form-control" id="sepal_width" name="sepal_width">
            </div>
            <div class="form-group">
                <label for="petal_length">Petal Length:</label>
                <input type="text" class="form-control" id="petal_length" name="petal_length">
            </div>
            <div class="form-group">
                <label for="petal_width">Petal Width:</label>
                <input type="text" class="form-control" id="petal_width" name="petal_width">
            </div>
            <button type="submit" class="btn btn-primary">Predict</button>
        </form>
        <div class="mt-4">
            <h4>Class: {{ result }}</h4>
            {% if result %}
                {% if result == 'Iris-setosa' %}
                    <img src="templates\iris_setosa.jpg" class="flower-img" alt="Iris Setosa">
                {% elif result == 'Iris-versicolor' %}
                    <img src="templates\iris_versicolor.jpg" class="flower-img" alt="Iris Versicolor">
                {% elif result == 'Iris-virginica' %}
                    <img src="templates\iris_virginica.jpg" class="flower-img" alt="Iris Virginica">
                {% endif %}
            {% endif %}
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
